html,
body {
  margin: 0;
  height: 100%;
  font-family: "Amatic SC", cursive;
  font-size: 18px;
}
html {
  background: rgba(226, 226, 226, 1);
  background: -moz-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(219, 219, 219, 1) 50%,
    rgba(209, 209, 209, 1) 51%,
    rgba(254, 254, 254, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(226, 226, 226, 1)),
    color-stop(50%, rgba(219, 219, 219, 1)),
    color-stop(51%, rgba(209, 209, 209, 1)),
    color-stop(100%, rgba(254, 254, 254, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(219, 219, 219, 1) 50%,
    rgba(209, 209, 209, 1) 51%,
    rgba(254, 254, 254, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(219, 219, 219, 1) 50%,
    rgba(209, 209, 209, 1) 51%,
    rgba(254, 254, 254, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(219, 219, 219, 1) 50%,
    rgba(209, 209, 209, 1) 51%,
    rgba(254, 254, 254, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(226, 226, 226, 1) 0%,
    rgba(219, 219, 219, 1) 50%,
    rgba(209, 209, 209, 1) 51%,
    rgba(254, 254, 254, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}
body {
  /* max-width: 1440px;
			margin:0 auto; */
}
section {
  position: relative;
  height: 100%;
  background-attachment: fixed;
  background-size: cover !important;
  background-position: center;
  background-blend-mode: screen;
  /* &:nth-of-type(1) */
}

section h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #fff;
  width: 100%;
  text-align: center;
}

section h1 span {
  font-size: 30px;
}

section:nth-of-type(1) .paralax-1 {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* .new-paralax */
}
section .paralax-1 .new-paralax {
  z-index: -100000;
  -webkit-transform: translateZ(-8000px) scale(0.4);
  transform: translateZ(-8000px) scale(0.4);
  background-attachment: fixed;
  background-size: cover !important;
  background-position: center;
  background-blend-mode: screen;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: #05b2ff;
  background-image: url("../img/_DSC4837-min.JPG");
}

@media (max-device-width: 1024px) {
  section {
    background-attachment: scroll;
  }
  section .paralax-1 .new-paralax {
    background-attachment: scroll;
  }
}

section:nth-of-type(2) {
  background-image: url("../img/_DSC4838-min.JPG");
  background-color: #00fbf1c4;
}

section:nth-of-type(3) {
  background-image: url("../img/_DSC4841-min.JPG");
  background-color: #adadad;
}

section:nth-of-type(2) h1 {
  color: #000;
}

section:nth-of-type(3) h1 {
  color: #000;
}

section:nth-of-type(4) {
  background-image: url("../img/_DSC4842-min.JPG");
  background-color: #3b6565;
}
section:nth-of-type(5) {
  background-image: url("../img/_DSC4844-min.JPG");
  background-color: #7312ad;
}
section:nth-of-type(6) {
  background-image: url("../img/_DSC4845-min.JPG");
  background-color: #b9b9b9;
}
section:nth-of-type(7) {
  background-image: url("../img/slides/sl_horiz/_DSC5296-min.JPG");
  background-color: #b9b9b9;
}

.prehead {
  background-color: #ec48ae;
  color: #fff;
  font-size: 2em;
  padding: 30px 10px 10px 20px;
  margin: 0;
  position: relative;
}

.newer::before {
  content: "new";
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
  color: #ff0;
  font-size: 30px;
  font-weight: bold;
}

.marty {
  background-color: #ec48ae;
  color: #fff;
}
.dol {
  background-color: #090f44;
}
.los {
  background-color: #666664d9;
}
.hare {
  background-color: #4d701b;
}
.bar {
  background-color: #9c60a7;
}
.cat {
  background-color: #495c15;
}
.kit {
  background-color: #5d79f3;
}
.process {
  background-color: #f07a56;
}
.big_dol {
  background-color: #939b42;
}
.pinguine {
  background-color: #3366cc;
}
.lis {
  background-color: #8e8e90;
}
.panda {
  background-color: #009432;
}
.vorona {
  background-color: #647746;
}
.sheep2 {
  background-color: #7d933a;
}
.fox {
  background-color: #150f04;
}
.sails2 {
  background-color: #5c79a7;
}
.edinorog {
  background-color: #c592ba;
}
.ezh {
  background-color: #a58b64;
}
.food {
  background-color: #312923;
}
.sails {
  background-color: #4a8e8e;
}
.demo {
  /* width:100%; */
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

.hidden {
  display: none;
}

.actions {
  width: 99%;
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.actions > div {
  width: 35%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  border: 8px dashed #4d701b;
  margin: 30px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 40px;
  margin-bottom: 30px;
  min-width: 260px;
  max-width: 500px;
}

#vk_comments {
  border: none;
}
.actions h5 {
  margin: 0;
}
.do_order {
  border-color: #8e3bad !important;
}
.do_help {
  border-color: #4d701b !important;
}
.show_feedbacks {
  border-color: #ff7243 !important;
}
.show_feedbacks h4 {
  font-size: 21px;
  color: slategray;
}

#vk_comments {
  opacity: 0.95;
}

#vk_comments_wrap {
  background-color: #4a76a8;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  min-height: 190px;
}

.do_help h3 {
  margin: 10px 0;
}
.summ_input {
  width: 80px;
  font-size: 30px;
  padding: 10px 15px;
  border: none;
  border-radius: 14px;
  color: #000000;
  text-align: center;
}

.comment_input {
  width: 95%;
  font-size: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 14px;
  color: #000000;
}

.payment_type {
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .actions > div {
    width: 90%;
    margin: 15px;
  }

  section:nth-of-type(7) {
    min-height: 1000px;
  }
}

@media screen and (max-width: 768px) {
  section:nth-of-type(7) {
    min-height: 800px;
  }
}

.lslide img {
  margin: 0 auto;
}
